{{!-- action is what links the form and where it directs to --}}
<form action="/artists" method="GET">
  {{!-- the name goes in the app.js and you use it when you do the request.query --}}
  <input type="search" name="artist">
  <button type="submit">Search</button>
</form>